#mainBody {
    background-image: url("../bgrd_dark_big.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #000000;
    overflow: auto;
}
.textBlock {
    padding-top: 3vh;
    padding-left: 10vh;
    padding-right: 10vh;
    padding-bottom: 10vh;
    color: #f0f0f0;
    background-color: #292d30;
    text-align: justify;
    text-justify: inter-word;
    overflow: auto;
}
.img-in-text{
    margin-top: 3vh;
    margin-bottom: 3vh;
    max-height:100%;
    max-width:100%
}
.buttonRedirect{
    background-color: #2059d4; /* Green */
    border: none;
    padding: 15px 32px;
    margin-top: 3vh;
}
h3 {
    color: rgb(130, 215, 255);
}
.text-a:link, .text-a:visited {
    color: rgb(130, 215, 255);
    text-decoration: none;
}
.text-a:hover, .text-a:active {
    color: rgb(255, 167, 52);
    text-decoration: none;
}
.button-href{
    color: white;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-size: 24px;
}
.button-href:hover, .button-href:active {
    color: rgb(255, 167, 52);
    text-decoration: none;
}
.fixed-panel {
    max-height: 65vh;
    background-color: #212529;
    color: white;
    overflow: auto;
}
ul.show, ul.show > li > a {
    background-color: #212529;
    color: white;
}
ul.show > li > a:hover {
    background-color: #2e353d;
    color: white;
}
.panel {
    margin-bottom: 15px;
    margin-top: 15px;
    border: 6px solid transparent;
    border-radius: 20px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-info {
    border-color: #0c2735;
}
.panel-info>.panel-heading {
    color: rgba(255, 255, 255, 0.932);
    background-color: #0c2735;
    border-color: #0c2735;
}
.panel-footer {
    padding: 10px 15px;
    background-color: #0c2735;
    border-top: 1px solid #0c2735;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px
}
.form-control {
    background-color: rgb(255, 255, 255);
}
.full_div {
    height: 100%;
    width: 100%;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
.avatar {
    height: fit-content;
    width: 5%;
    border-radius: 33px;
}
.text-chat {
    width: 90;
    font-size: 20px;
    margin-left: 20px;
    color: rgb(235, 235, 235);
}
/*.card {
    color: rgb(235, 235, 235);
    margin-top: 2vh;
    margin-right: 10vh;
    margin-left: 10vh;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #212529;
    background-clip: border-box;
    border: 0.5vh solid #0c2735;
    border-radius: 0.5rem;
    display: none;
}*/
.card {
    color: rgb(235, 235, 235);
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #212529;
    background-clip: border-box;
    border: 0.5vh solid #0c2735;
    border-radius: 0.5rem;
    display: none;
}

.articleCard {
    color: white;
    text-decoration: none;
    display: inline-block;
}

.fixed-bottom {
    display: flex;
    justify-content: center;
 }

.footer-div {
    margin: 0.5vh;
    color:rgb(209, 209, 209);
 }

.contact-icon {
    text-decoration: none;
    margin-left: 0.25vh;
    margin-right: 0.25vh;
}

.category-btn {
    background-color: #212529;
    border: none;
    color: white;
    padding: 0.75vh 1.75vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    margin-top: 2vh;
}

.category-btn:hover {
    background-color: rgb(43, 52, 56);
  }
  
.category-btn.active {
    background-color: #0c6480;
    color: white;
  }

.global-articles-container {
    overflow: hidden;
}

.show {
    display: block;
  }

.datascience{
    margin : 2vh
}

.wineReaderDiv{
    padding-top: 1.5vh;
    padding-left: 2vh;
    padding-right: 2vh;
    padding-bottom: 1.5vh;
    color: #e7e7e7;
    background-color: #292d30;
    margin-bottom: 20vh;
}

#loader{
    margin: auto;
    text-align: center;
    padding: 3vh;
}

#loading_img{
    width:50vh;
    height: auto
}

#result_block_1{
    flex-direction: row; 
    align-content: center;
    margin-top: 2vh;
}
#result_block_2{
    flex-direction: row; 
    align-content: center;
    margin-top: 2vh;
    margin-bottom: 10vh
}

.displayNone {
    display: none;
}
.displayFlex { 
    display: flex;
}
/*
.result{
    color: rgb(226, 226, 226);
    margin-top: 4vh;
    margin-right: 2vh;
    margin-left: 2vh;
    margin-bottom: 4vh;
    display: flex;
    background-color: #212529;
    background-clip: border-box;
    border: 0.5vh solid #1f1f1f;
    border-radius: 0.5rem;
    width: 45vh;
    height: 65vh;
}*/

.result{
    color: rgb(226, 226, 226);
    display: flex;
    background-color: #212529;
    background-clip: border-box;
    border: 0.5vh solid #1f1f1f;
    border-radius: 0.5rem;
}

#result_ocr{
    overflow-x: hidden;
    overflow-y: auto;
    text-overflow: ellipsis;
}

.result-space{
    margin-bottom: 4vh;
}

.tuto{
    width: 50vh;
    margin-bottom: 2vh;
    padding-left: 5vh;
    padding-right: 5vh;
    height:auto
}

.form-block{
    background-color: #1d1d1f;
    padding: 1vh;
}

@media (max-width: 500px) {
    .footer-div {
        font-size: 11px;
    }
    .panel-heading{
        font-size: 12px;
    }
    .row{
        --bs-gutter-x: 0.2rem;
    }
    .form-control {
        font-size: 14px;
    }
    .text-chat {
        font-size: 14px;
    }
    .media-list {
        margin-block-start: 2px;
        margin-block-end: 2px;
        padding-inline-start: 2px;
    }
    .full_div {
        margin-top: 6px;
        margin-bottom: 6px;
    }
    .avatar {
        width: 12%;
        border-radius: 33px;
    }
    .fixed-panel {
        max-height: 65vh;
    }
    .category-btn {
        margin-top: 1vh;
        font-size: 13px;
    }
    /*
    .card {
        margin-top: 1vh;
        margin-right: 1vh;
        margin-left: 1vh;
    }*/
    .card-body {
        font-size: 13px;
    }
    #mainBody {
        font-size: 13px;
    }
    .textBlock {
        padding-top: 1vh;
        padding-left: 2vh;
        padding-right: 2vh;
        padding-bottom: 10vh;
    }
    .dropdown-la-choices {
        font-size: 13px;
    }
}

@media (orientation: landscape) and (max-width: 950px){
    .footer-div {
        font-size: 11px;
    }
    .panel-heading{
        font-size: 12px;
    }
    .form-control {
        font-size: 14px;
    }
    .text-chat {
        font-size: 14px;
    }
    .media-list {
        margin-block-start: 2px;
        margin-block-end: 2px;
        padding-inline-start: 2px;
    }
    .full_div {
        margin-top: 6px;
        margin-bottom: 6px;
    }
    .avatar {
        width: 5%;
        border-radius: 33px;
    }
    .fixed-panel {
        max-height: 40vh;
    }
    .category-btn {
        margin-top: 1vh;
        font-size: 13px;
    }
    /*.card {
        margin-top: 1vh;
        margin-right: 1vh;
        margin-left: 1vh;
    }*/
    .card-body {
        font-size: 13px;
    }
    #mainBody {
        font-size: 13px;
    }
    .textBlock {
        padding-top: 1vh;
        padding-left: 2vh;
        padding-right: 2vh;
        padding-bottom: 10vh;
    }
    .dropdown-la-choices {
        font-size: 13px;
    }
    .panel {
        margin-bottom: 1vh;
        margin-top: 1vh;
    }
}