{% extends "base.html" %}
{% block title %}Articles | Plural{% endblock %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Live Applications
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="/officeChatbot"><span class = "dropdown-la-choices">The Office - Chatbot</span></a></li>
            <li><a class="dropdown-item" href="/wineReader"><span class = "dropdown-la-choices">Wine Label Reader</span></a></li>
          </ul>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/articles">Articles</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Control buttons -->
<div id="myBtnContainer">
  <button class="category-btn" id="all" onclick="filterSelection('all')">All</button>
  <button class="category-btn" id = "nlp" onclick="filterSelection('nlp')">NLP</button>
  <button class="category-btn" id = "comp_vi" onclick="filterSelection('comp_vi')">Computer Vision</button>
  <!-- <button class="category-btn" onclick="filterSelection('technology')">Technology</button> -->
</div>

<div class="global-articles-container">

  <div class="card nlp mb-3">
    <a class = "articleCard" href="/articles/officeChatbot">
      <img src="./static/dwight_matrix_banner.jpg" class="card-img-top" alt="...">
    </a>
    <div class="card-body">
      <h5 class="card-title">The Office - Chatbot</h5>
      <p class="card-text">Discover the logic behind the chatbot! From trying to implement a full deep learning approach to finding a method that actually works on small datasets.</p>
      <p class="card-text"><small class="text-muted">19/01/2022</small></p>
    </div>
  </div>

  <div class="card comp_vi mb-3">
    <a class = "articleCard" href="/articles/wineReader">
      <img src="./static/wineReader_banner.jpg" class="card-img-top" alt="...">
    </a>
    <div class="card-body">
      <h5 class="card-title">How to read a label on a wine bottle using computer vision ?</h5>
      <p class="card-text">In this article I explain how the solution works in detail: From training a U-net to detect the location of the label to actually reading via tesseract library what's written on the unwraped label.</p>
      <p class="card-text"><small class="text-muted">24/03/2022</small></p>
    </div>
  </div>

</div>


<script>
$(document).ready(function() {
  handleFirstLoading()
});
</script>

{% endblock %}